<navbar></navbar>
<div style="margin-top:80px" class="container">
<form [formGroup]="addForm" (submit)="add()" >
    <div class="form-group">
      <h1>Ajouter</h1>
      <label for="exampleInputEmail1">Nom</label>
      <input type="text"  class="form-control" formControlName="nom" ng-required="required">
      <small *ngIf='addForm.get("nom").touched && addForm.get("nom").hasError("required")'>Nom est obligatoire</small>
      <small *ngIf='addForm.get("nom").touched && addForm.get("nom").hasError("pattern")'>Nom ne doit pas contenir des caractére speciaux </small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Prénom</label>
      <input type="text" class="form-control" formControlName="prenom" ng-required="required">
      <small *ngIf='addForm.get("prenom").touched && addForm.get("prenom").hasError("required")'>Prénom est obligatoire</small>
    </div>
    <div class="form-group row">
      <label for="example-date-input" class="col-2 col-form-label">Date</label>
      <div class="col-10">
        <input class="form-control" type="date" value="2011-08-19" id="example-date-input" formControlName="date" ng-required="required">
        <small *ngIf='addForm.get("date").touched && addForm.get("date").hasError("required")'>Date est obligatoire</small>
      </div>
    </div>
    
    
    <label for="">Sexe :</label><br>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineCheckbox1" name="sexe" value="H" formControlName="sexe">
      <label class="form-check-label" for="inlineCheckbox1">Homme</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineCheckbox2" name="sexe" value="F" formControlName="sexe">
      <label class="form-check-label" for="inlineCheckbox2">Femme</label>
    </div><br>
    <label class="mt-3" for="">Spécialité : </label>
    <select class="form-control" formControlName="spec" >
      <option *ngFor='let spec of specialite' value="{{spec.idSpec}}">
        {{spec.nomSpec}}</option>
    </select>
    <button [disabled]='!addForm.valid' type="submit" class="btn btn-primary mt-3" >Ajouter</button>
   

  </form>
</div>