<body id="page-top">
    
    <navbar></navbar>
    <header class="bg-primary text-white">
        <div id="container" class="container text-center">
            <img style="width:490px" src="../../assets/img/doctor.svg"/>
        </div>
    </header>
    <section>
        <div id="container" style="text-align: center">
            <h1>Description</h1>
        <p>Smart Doctor est une application Web créée dans le but de faciliter la gestion des medecins 
            et leurs spécialités au sein des cliniques ou des  hôpitaux ; elle permet effectuer les opération 
            CRUD sur les médecins et les spécialités .<br>
            En utilisant en Front-End le framework Angular , et pour le style le framework CSS Bootstrap 
            et en Back-End le framework Java Spring Boot.
            </p>
        </div>
    </section>
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 2021</p></div>
    </footer>
   
    <script src="js/scripts.js"></script>
</body>


