<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Date </th> </tr>
                </thead>
                <tbody *ngFor="let film of films">
                    <tr >
                        <td>{{film.idFilm}}</td>
                        <td>{{film.titre}}</td>
                        <td>{{film.prixticket}}</td>
                        <td>{{film.dateSortie | date:'dd/MM/yyyy' }}</td>
                        <td><a class="btn btn-danger" (click)="supprimerFilm(film)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updateFilm',film.idFilm]">Modifier</a></td>
                     
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
